#tv{
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  #youtube-player{
    width: 100%;
    height: 100%;
  }
  .youtube-container{
    position: absolute;
    top: 0;
    bottom: 50px;
    left:0;
    right: 0;
  }
  .transition{
    position: absolute;
    width: 100%;
    height: 248px;
    background-color: #222020;
    background-image: url('../../../static/black-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0;
    transition: opacity .5s;
    display: none;
    top: 0;
    left: 0;
    &.active{
      opacity: 1;
      display: block;
    }
  }
}

@media (min-width: 700px) and (orientation: landscape) { 
  #tv{
    .youtube-container{
      top: 0;
      bottom: 90px;
    }
    .transition{
      height: 100%;
    }
  }
}

@media (min-width: 700px) and (orientation: landscape) { 
  #tv{
    height: 100%;
  }
}
.landing{
  background-color:#222020;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top:0;
  .logo{
    width: 100%;
    max-width: 200px;
  }
}


.center-logo{
  z-index: 10;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 0px 0px 12px black;
  letter-spacing: -2px;
  text-align:center;
  top: 50%;
  margin-top: -100px;
  position: absolute;
  img{
    display: block;
    max-width: 50px;
  }
}

@media (min-width: 700px) and (orientation: landscape) { 
  .center-logo{
    height: 100%;
    font-size: 70px;
    img{
      max-width: 100px;
    }
  }
}

.mosaic{
  position: absolute;
  width: 100%;
  height: 92%;
  top:0;
  left: 0;
  button{
    cursor: pointer;
    position: absolute;
    border: 0;
    padding: 0;
    margin: 0;
    background-color: transparent;
    box-shadow: 0px 35px 42px 0px #00000040;
  }
}

.bottom-nav{
  height: 40px;
  font-size: 14px;
  text-align: right;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: .5rem;
  background: #242528;
  display: flex;
  justify-content: space-between;
  color:#F9F9F9;
  align-items: center;
  .favicon{
    display: none;
  }
  .image{
    padding-right: .5rem;
  }
  .left{
    display: flex;
    max-width: 80%;
  }
  .thumb{
    width: 50px;
  }
  .infos{
    text-align:left;
    display: flex;
    flex-direction: column;
    max-width: 70%;
  }
  .video-title{
    font-size: 1rem;
    font-weight: bold;
  }
  .prompt{
    padding-top: .25rem;
    font-size: 0.75rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (min-width: 700px) and (orientation: landscape) {
  .bottom-nav{
    height: 60px;
    font-size: 16px;
    padding: 1rem;
    .favicon{
      width: 40px;
      height: 40px;
      position: relative;
      top: -5px;
      margin-right: 1rem;
    }
    .image{
      padding-right: 1rem;
      img{
        width: 60px;
      }
    }
    .prompt{
      white-space: nowrap;
      overflow: none;
      text-overflow: ellipsis;
    }
  }
}

.actions{
  img{
    max-width: 70%;
  }
  button{
    background-color: transparent;
    border: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
}