#playlist{
  position: absolute;
  background-color: #242528;
  z-index: 10;
  padding: 16px;
  overflow-y: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  ul ul{
    padding-left: 16px;
  }
  li{
    padding: 8px 0;
  }
  .category{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    cursor: pointer;
    color: #B1B1B2;
    letter-spacing: .5px;
    .arrow{
      border: 0;
      width: 10px;
      height: 20px;
      cursor: pointer;
      img{
        width: 10px;
        height: 20px;
      }
    }
    .close{
      img{
        transform: rotate(90deg);
      }
    }
  }
  .category-name{
    overflow: hidden;
    width: 90%;
  }
  .items{
    li{
      align-items: center;
      padding: .5rem 0;
      cursor: pointer;
      a{
        display: flex;
        color:white;
        text-decoration: none;
      }
    }
    img{
      width: 50px;
      border-radius: 4px;
    }
    .infos{
      padding-left: 1rem;
    }
    .title{
      font-size: .80rem;
      font-weight: bold;
      color: #FCFCFC;
    }
    .prompt{
      font-size: 0.75rem;
      padding-top: 1px;
    }
  }
}

@media (min-width: 700px) and (orientation: landscape) { 
  #playlist{
    border: 0;
    left: auto;
    top: 20px;
    bottom: 100px;
    right: 1rem;
    width: 300px;
    box-shadow: 0px 35px 42px 0px #00000040;
  }
}
